.products{
    margin: 4% 10%;
}

.products-buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;

    margin-top: 15%;
    position: relative;
}

.btn{
    margin: 0 15px 0;
}