<footer class="text-center text-white" style="background-color: #f1f1f1;">
    
    <div class="container pt-4">
     
      <section class="mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-muted m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="muted">
          <i class="fa fa-facebook" aria-hidden="true"></i></a>
          
        <a
          class="btn btn-link btn-floating btn-lg text-muted m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="muted">
          <i class="fa fa-instagram" aria-hidden="true"></i></a>
      </section>
    </div>
 
    <div class="text-center text-muted p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="#">SuaLojaVirtual.com.br</a>
    </div>

  </footer>